/* *** Balise niveau document (affecte toutes les autres balises) */

/* Défini la police utilisée dans la facture */
body {
	font-family: Tahoma, Geneva, sans-serif; 
}

/* Défini les propriétés du header contenant le titre facture */
header { 
	margin-top: 5px; 
	text-align: center; 
	padding: 1px; 
}

/* Défini les propriétés du conteneur de la boite contenant toute la facture */
#content {
	width: 100%; 
	text-align: center; 
}

/* Défini les propriétés de la boite contenant toute la facture */
#content_wrap { 
	display: inline-block; 
	margin: 10 auto;  
}


/* *** Balises niveau formulaire */
/* Défini les propriétés du formulaire */
#bill {
	width: 750px; 
	font-size: small;
	padding: 20px; 
}
/* Défini les propriétés du texte du formulaire */
#bill p {
	font-weight: bold; 
}
/* Permet de placer une partie du formulaire sur la gauche */
.form_area_left{
	text-align: left; 
	float: left;
}
/* Permet de placer une partie du formulaire sur la droite */
.form_area_right{
	text-align: left;
	float: right;
}
/* Définit un vide qui permet la bonne séparation entre les différents élements du formulaires */
.form_area_jump{
	padding-bottom: 0px;
	float: left;
	width: 100%;

}
/* Défini les propriétés d'un élément du formulaire */
.form_element{
	width: 350px; 
	text-align: left; 
}
/* Défini les propriétés d'un élément du formulaire à l'intérieur de la balise suivi
	(pour le n0 de facture et la date) */
#suivi .form_element{
	text-align: right;
}
/* Défini les propriétés du nom de société */
#nom_societe {
	font-weight: bold;
	font-size: x-large;
	width: 100%;
}
/* Défini les propriétés du numéro de facture */
#no_bill {
	width: 40px;
}
/* Défini les propriétés d'un élément du formulaire de type petit */
.element_small {
	width: 50px;
}
/* Défini les propriétés d'un élément du formulaire de type moyen */
.element_med {
	width: 200px;
}
/* Défini les propriétés d'un élément centré du formulaire */
.centered {
	float: left;
	width: 100%;
	text-align: center;
	margin: 10 auto;
}
/* Défini les propriétés d'un input du formulaire */
input { 
	width: 200px;
}
/* Défini les propriétés de la liste de clients du formulaire */
#choix_facture {
	width: 205px;
}
/* Défini les propriétés de la case a cocher du formulaire */
#copier {
	width: auto;
}


/* *** Balises niveau tableau */ 
/* Défini les propriétes du tableau */
table{
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

/* Défini les propriétés des cellules */
td, th {
	border: 1px solid black;
	width: 20%;
	vertical-align: middle;
}
/* Permet de mettre en italique la police des cellules d'en tete  */
th {
	font-style: italic;
}

/* Défini la largeur des élements de formulaires input et select présents dans le tableau */
table input, table select{
	width: 95%;
}
/* Défini les propriétés de la barre de separation */
hr {
	margin-bottom: -2px;
}

/* *** Balises niveau totaux */ 
/* Défini les propriétés des totaux (soustotal, tva, etc...) */
.result {
	border: 1px solid black;
	display: inline-block;
	width: 100px;
	padding: 5px;
}

/* Défini l'alignement des totaux (soustotal, tva, etc...) */
.result_wrap {
	float: none;
	margin: 0px;
	padding: 0px;
}

/* Défini les propriétés du texte à coté des totaux (soustotal, tva, etc...) */
.result_wrap p {
	width: 200px;
	display: inline-block;
	text-align: right;
	margin: 0px;
	padding-right: 5px;
}

/* *** Balises niveau informations */ 

/* Défini les propriétés des messages de remise, de remerciement et des informations de la facture */
#remise, #info {
	width: 738px;
	font-weight: normal;
	font-size: small;
	padding: 5px;
}

/* Défini les propriétés supplémentaires des messages de remise de la facture */
#remise {
	border: 1px solid black;
	display: none;
}

/* Défini les propriétés supplémentaires des messages des informations de la facture */
#info {
	font-size: x-small;
}

/* Défini les propriétés supplémentaires des messages de remerciement de la facture */
#merci {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

/* Définit les propriétés du conteneur des messages d'erreurs */
#erreur {
	display: none;
	width: 350px;
}

/* Définit les propriétés du texte pour afficher les messages d'erreurs */
#erreur_msg {
	display: inline-block;
	border: 1px solid red;
	padding: 5px;
	margin: 10px;
	font-weight: bold;
}
/* Défini la taille de la div avec les informations sur à qui envoyer la facture */
#bottom_wrap {
	width: 100%;
}
