/* Balise niveau document (affecte toutes les autres balises) */

body {
	font-family: Tahoma, Geneva, sans-serif;
}

header { 
	margin-top: 5px;
	text-align: center;
	padding: 1px;
}

#content {
	width: 100%;
	text-align: center;
}

#content_wrap {
	display: inline-block;
	margin: 10 auto;
}


/* Balises niveau formulaire */ 
#bill {
	width: 750px;
	font-size: small;
	padding: 20px;
}

#bill p {
	font-weight: bold;
}

.form_area_left{
	text-align: left;
	float: left;
}

.form_area_right{
	text-align: left;
	float: right;
}

.form_area_jump{
	padding-bottom: 0px;
	float: left;
	width: 100%;

}

.form_element{
	width: 350px;
	text-align: left;
}

#suivi .form_element{
	text-align: right;
}

#nom_societe {
	font-weight: bold;
	font-size: x-large;
	width: 100%;
}

#no_bill {
	width: 40px;
}

.element_small {
	width: 50px;
}

.element_med {
	width: 200px;
}

.centered {
	float: left;
	width: 100%;
	text-align: center;
	margin: 10 auto;
}

input { 
	width: 200px;
}

#choix_facture {
	width: 205px;
}

#copier {
	width: auto;
}

hr {
	margin-bottom: -2px;
}

/* Balises niveau tableau */ 
table{
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
	width: 20%;
	vertical-align: middle;
}

th {
	font-style: italic;
}

table input, table select{
	width: 95%;
}

/* Balises niveau totaux */ 

.result {
	border: 1px solid black;
	display: inline-block;
	width: 100px;
	padding: 5px;
}

.result_wrap {
	float: none;
	margin: 0px;
	padding: 0px;
}

.result_wrap p {
	width: 200px;
	display: inline-block;
	text-align: right;
	margin: 0px;
	padding-right: 5px;
}

/* Balises niveau informations */ 

#remise, #info {
	width: 738px;
	font-weight: normal;
	font-size: small;
	padding: 5px;
}

#remise {
	border: 1px solid black;
	display: none;
}

#info {
	font-size: x-small;
}

#merci {
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#erreur {
	display: none;
	width: 350px;
}

#erreur_msg {
	display: inline-block;
	border: 1px solid red;
	padding: 5px;
	margin: 10px;
	font-weight: bold;
}

#bottom_wrap {
	width: 100%;
}
